# OpenAI compatible API
OPENAI_BASE_URL=http://localhost:8000/v1
OPENAI_API_KEY=EMPTY

# Modelo
OPENAI_MODEL=Latxa

# Parámetros de generación
OPENAI_MAX_TOKENS=10
OPENAI_TEMPERATURE=0.0
OPENAI_TOP_P=0.95
OPENAI_STREAM=False